.site-layout-content {
  background: #fff;
  padding: 24px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  color: black;
  font-size: 25px;
  font-family: Helvetica;
  font-weight: 600;
}

.logo {
  width: 120px;
  height: 100px;
  margin: -10px 24px 16px 0;
  float: left;
}

.site-layout-content {
  background: white;
  padding: 24px;
  min-height: 1000px;
}

.chartTitle {
  text-align: center;
  font-size: 30px;
}
