.site-layout-content {
  background: #fff;
  padding: 24px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  color: white;
  font-size: 32px;
}
